@inherits EndSessionPhysicalTherapyBase
@page "/endsessionphysicaltherapy/{ClientId:int}/{ClientServiceId:int}/{RemoteDocumentId:int}/{InternalDocId:int}"
@using DirectCareConnect.Blazor.Components.Buttons
@using DirectCareConnect.Blazor.Components.Notes

<div id="documentHabilitationSession" class="panel panel-secondary">
    <GoBackComponent HeaderText="Document Session" OnGoBack="GoBack"></GoBackComponent>

    <div class="panel-body p-3">
        <NotesTitleComponent EndSessionModel="Model"></NotesTitleComponent>
        <NotesComponent EndSessionModel="Model" OnInputReceived="InputReceived"></NotesComponent>

        @if (Model.LongTermObjectives != null)
        {
            foreach (var objective in Model.LongTermObjectives)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div style="padding:5px;border:1px solid #c0c0c0;margin-bottom: 10px;">
                            <b>Long Term Vision</b>
                            <div style="text-indent:20px">
                                @objective.longTermVision
                            </div>
                            <b>Long Term Goal(s)</b>
                            <div style="text-indent:20px">
                                @objective.longTermGoal
                            </div>
                            @foreach (var goal in objective.shortTermGoals)
                            {
                                goal.ScoreChanged += DropDownChanged;
                                goal.ProgressChanged += DropDownChanged;
                        <div>
                            <b>Action Step(s) /Short Term Goal(s)</b>
                            <div style="text-indent:20px">
                                @goal.shortTermGoal
                            </div>

                            <div class="scoringItem">
                                <input type="hidden" class="goalId" value="1">
                                <div class="form-group">
                                    <label for="score"><b>Score:</b></label>
                                    <select class="score form-control form-control-sm" style="" @bind="goal.score">
                                        <option value="">Select Score</option>

                                        @foreach (var score in Model.Scoring)
                                        {
                                            <option value="@score.value">@score.name</option>

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="scoringItem slidecontainer">
                                <div class="form-group">
                                    <label for="score"><b>Percentage of Success:</b> @(goal.trialPct)% </label>
                                    <input type="range" min="0" max="100" step="1" class="slider" @bind="goal.trialPct" @bind:event="oninput">
                                </div>
                            </div>
                        </div>
                            }

                        </div>
                    </div>

                </div>
            }
        }
        <NoteResolutionComponent EndSessionModel="Model" OnGoBack="GoBack" OnSave="Save" OnSubmit="Submit" OnInputReceived="InputReceived"></NoteResolutionComponent>
    </div>
</div>