@inherits ForgotPasswordBase
@page "/forgotpassword"
@using DirectCareConnect.Blazor.Components
@using DirectCareConnect.Blazor.Components.Buttons


<div class="panel panel-login">
    <div class="panel-heading">
        <GoBackComponent HeaderText="Forgot Password" OnGoBack="GoBack"></GoBackComponent>

    </div>
    @switch (this.Step)
    {
        case ResetStep.Email:
            <div class="panel-body text-center">

                <EditForm Model="@model" OnValidSubmit="TryReset" class="panel-form">
                    <div class="form-group">
                        <label for="email" class="control-label sr-only">Email</label>
                        <EnhancedInputText id="identifier" @bind-Value="@model.Email" @onkeyup="@InputReceived" class="form-control" placeholder="Email" name="email" />
                    </div>

                    <div class="form-group">
                        <SpinningButton ButtonType="submit" ButtonClass="btn btn-default" Disabled="RequestDisabled" Loading="@(this.IsLoading(nameof(TryReset)))" ButtonText="Request Reset Link"></SpinningButton>
                    </div>
                    <div class="form-group">@message</div>
                </EditForm>

            </div>
            break;

        case ResetStep.Contact:
            <div class="panel-body text-center">
                <div>@message</div>
                <EditForm Model="@model" class="panel-form">
                    <div class="form-group">
                        <SpinningButton ButtonType="submit" ButtonClass="btn btn-default" Loading="@(this.IsLoading(nameof(SendToEmail)))" ButtonText="@SendToEmailText" OnClick="SendToEmail"></SpinningButton>
                    </div>
                    <div class="form-group">
                        <SpinningButton ButtonType="submit" ButtonClass="btn btn-default" Loading="@(this.IsLoading(nameof(SendToText)))" ButtonText="@SendToTextText" OnClick="SendToText"></SpinningButton>
                    </div>
                </EditForm>
            </div>
            break;

        case ResetStep.Code:
            <div class="panel-body text-center">
                <div>@message</div>
                <EditForm Model="@model" OnValidSubmit="TryCode" class="panel-form">
                    <div class="form-group">
                        <label for="email" class="control-label sr-only">Enter Code</label>
                        <EnhancedInputText id="identifier" @bind-Value="@model.Code"  @onkeyup="@InputReceived" class="form-control" placeholder="Code" name="Code" />
                    </div>

                    <div class="form-group">
                        <SpinningButton ButtonType="submit" ButtonClass="btn btn-default" Disabled="CodeDisabled" Loading="@(this.IsLoading("Login"))" ButtonText="Request Reset Link"></SpinningButton>
                    </div>
                </EditForm>

            </div>
            break;

        case ResetStep.Confirm:
            <div class="panel-body text-center">
                <div>@message</div>
                <EditForm Model="@model" OnValidSubmit="TryConfirm" class="panel-form">
                    <div class="form-group">
                        <label for="email" class="control-label sr-only">Password</label>
                        <EnhancedInputText id="identifier" @bind-Value="@model.Password"  @onkeyup="@InputReceived" class="form-control" placeholder="Password" name="Password" />
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label sr-only">Confirm Password</label>
                        <EnhancedInputText id="identifier" @bind-Value="@model.ConfirmPassword"  @onkeyup="@InputReceived" class="form-control" placeholder="ConfirmPassword" name="ConfirmPassword" />
                    </div>

                    <div class="form-group">
                        <SpinningButton ButtonType="submit" ButtonClass="btn btn-default" Disabled="ConfirmDisabled" Loading="@(this.IsLoading("Login"))" ButtonText="Request Reset Link"></SpinningButton>
                    </div>
                </EditForm>

            </div>
            break;

        case ResetStep.Done:
            <div class="panel-body text-center">
                <div>@message</div>
                <EditForm Model="@model" class="panel-form">
                    <div class="form-group">
                        <h2>Password Successfully Reset</h2>
                        <a href="/login">Login Again</a>
                    </div>
                </EditForm>

            </div>
            break;

    }
</div>


